<h2>{{ title }}</h2>

<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value); newTodo.value=''">Add</button>

<table>
  <tr>
    <th>Label</th>
    <th>Priority</th>
    <th>Done</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td>{{ todo.label }}</td>
    <td>{{ todo.priority }}</td>
    <td><a href="#" (click)="changeDone(todo)">{{ todo.done ? '&#10003;' : '&#10005;' }}</a></td>
    <td><button (click)="clickTodo(todo)"> delete</button></td>
  </tr>
</table>


<router-outlet></router-outlet>